.chatarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 50vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 0 0 15px 5px grey;
    background: white;
    position: relative
}

.chatarea > .button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}



.chatarea > .toggle {
  background: #1877f2;
  border: 1px solid #1877f2;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.chatarea > select {
    padding: .6rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 600px;
}

.chatarea > p {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
}

/* body.dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .container.dark-mode {
    border-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  input.dark-mode, select.dark-mode {
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
  } */
  /* body.dark-mode {
    background-color: #333;
    color: #fff;
  } */

  .chatarea.dark-mode {
    background-color: #4d4d4d;
    color: #fff;
}

select.dark-mode {
    background-color: #707070;
    color: #fff;
    border: 1px solid #555;
}

.button.dark-mode {
  background-color: #707070;
  color: #fff;
  border: 1px solid #555;
}
.toggle.dark-mode {
  background-color: #707070;
  color: #fff;
  border: 1px solid #555;
}
.chatarea.dark-mode h1,
.chatarea.dark-mode p,
.chatarea.dark-mode select {
    color: #fff;
}

.toggle:hover {
  background-color: #ca4321;
  transform: scale(1.05);
}
.button:hover {
  background-color: #ca4321;
  transform: scale(1.05);
}